// .eslintrc
{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 13,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],

  "rules": {
    "no-unused-expressions": "error",
    "no-console": "warn",
    "prefer-const": "error",
    "no-unused-vars": ["error", { "varsIgnorePattern": "server" }],
    "no-undef": "error",
    "@typescript-eslint/consistent-type-definitions": ["error", "type"],
    "@typescript-eslint/explicit-module-boundary-types": "error"
  },

  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "globals": {
    "process": "readonly"
  }
}
